[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=mazur
Group=mazur
WorkingDirectory=/home/mazur/app/src/
Environment="PATH=/home/mazur/app/venv/bin"
EnvironmentFile=/home/mazur/.env
ExecStart=/home/mazur/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target